html, body, .wrapper {height:100%;}
html {font-family:arial;}
body {color:#3e4245;font-size:14px;}
body > .wrapper {height:auto;min-height:100%;}
.contentwrapper {overflow:auto;padding-bottom:60px;}
.footer {position:relative;margin-top:-80px;height:60px;clear:both;}

body, .footerwrapper {
    background-color:transparent;
    background-repeat:repeat-x;
    background-attachment:scroll;
    background-position:top center;
}
.index {background-image:url(img/bg_top_index.jpg);}
.other {background-image:url(img/bg_top.jpg);}
.footerwrapper {background-image:url(img/bg_bottom.jpg);}

a {color:#076288;text-decoration:underline;}
a:hover {text-decoration:none;}
img {border:none;}

.border {clear:both;border-bottom:1px dotted #b17cc9;}
.text-left {text-align:left;}
.text-right {text-align:right;}

#header ol, #header ul,
#breadcrumbs ol, #breadcrumbs ul,
#footer ol, #footer ul,
#lang_sel_list ol, #lang_sel_list ul,
#slider ol, #slider ul,
#sidebar ol, #sidebar ul
{list-style: none;}

#lang_sel_list {float:right;margin:10px 0 0;}
#lang_sel_list ul li {float:left;margin:0 5px;}
#lang_sel_list a {color:#fff;font-size:12px;text-decoration:none;}
#lang_sel_list a.lang_sel_sel {color:#29abe2;}

.index #header {height:110px;}
.other #header {height:130px;}
#header .logo img {margin-top:38px;}
#header .navigation {clear:both;list-style:none;float:right;margin-top:60px;}
#header .navigation li {float:left;margin:0 10px;}
#header .navigation li a {display:block;font-size:16px;color:#fff;text-decoration:none;}
#header .navigation li a:hover, 
#header .navigation li.current_page_item a,
#header .navigation li.current_page_parent a {color:#29abe2;}
#header .navigation .children {display:none;}

#breadcrumbs {color:#959595;padding:15px 0;font-style:italic;font-size:11px;}
#breadcrumbs a {color:#7a7a7a;}
#breadcrumbs span {padding:0 5px;}

#content {margin-top:10px;margin-bottom:20px;}
#content h1 {margin:0 0 20px;font-size:19px;font-style:italic;font-weight:normal;color:#076288;}
#content .content {padding-right:20px;}

#content .entry-title {
    margin:0 0 5px;padding:0 0 5px;font-size:32px;font-style:italic;font-weight:normal;color:#076288;}
#content .entry-content {line-height:18px;}
#content .entry-content p {padding:0 0 7px;text-align:justify;}

#content .services {margin:0 0 20px;padding:0 0 20px;border-bottom:1px dotted #3e4245;}
#content .services .image {width:300px;height:127px;
    background:transparent url(img/index_services_image.png) no-repeat scroll top center;}
#content .services .image img {margin:3px;}
#content .services h3 {margin:7px 0;font-size:17px;font-weight:normal;}
#content .services h3 a {text-decoration:none;}
#content .services h3 a:hover {text-decoration:underline;}
#content .services div {line-height:17px;color:#3e4245;}

#content .index-posts .post {margin:0 0 10px;padding:0 0 10px;}
#content .index-posts .line {border-bottom:1px dotted #dcdfe6;}
#content .index-posts .image {width:140px;height:78px;
    background:transparent url(img/index_posts_image.png) no-repeat scroll top center;}
#content .index-posts .image img {margin:3px;}
#content .index-posts .image .date {display:block;float:right;margin:3px 0 0;padding:3px;
    background:#dcdfe6;font-size:10px;color:#808080;}
#content .index-posts h3 {margin:0 0 7px;font-size:16px;font-weight:normal;}
#content .index-posts h3 a {text-decoration:none;}
#content .index-posts h3 a:hover {text-decoration:underline;}
#content .index-posts .content {line-height:15px;color:#3e4245;}

#content .index-works .big-thumb {width:300px;height:216px;
    background:transparent url(img/index_works_image.png) no-repeat scroll top center;}
#content .index-works .big-thumb img {margin:3px;}
#content .index-works .thumbs .image {width:60px;height:60px;margin-bottom:18px;
    background:transparent url(img/index_works_small_image.png) no-repeat scroll top center;}
#content .index-works .thumbs .image img {margin:3px;}

#content .portfolio .image {width:300px;height:216px;
    background:transparent url(img/index_works_image.png) no-repeat scroll top center;}
#content .portfolio .image img {margin:3px;}
#content .portfolio h3 {margin:7px 0;font-size:17px;font-weight:normal;}
#content .portfolio h3 a {text-decoration:none;}
#content .portfolio h3 a:hover {text-decoration:underline;}
#content .portfolio .portfolio-line {margin:20px 0 25px;border-bottom:1px dotted #dcdfe6;}
#content .portfolio .noline {border:none;}
#content .portfolio .content {line-height:15px;color:#3e4245;}

#content .portfolio .preview {width:620px;height:420px;
    background:transparent url(img/gallery_big_image.png) no-repeat scroll top center;}
#content .portfolio .preview img {margin:3px;}
#content .portfolio .thumbs {margin:10px 0 20px;padding:10px 0;border-top:1px dotted #dcdfe6;}
#content .portfolio .thumbs .thumb  {width:60px;height:60px;
    background:transparent url(img/index_works_small_image.png) no-repeat scroll top center;}
#content .portfolio .thumbs .thumb img {margin:3px;}
#content .portfolio h2 {margin:5px 0 15px;font-size:26px;line-height:30px;font-weight:normal;color:#29abe2;}
#content .portfolio .portfolio-content {line-height:15px;color:#3e4245;}
#content .portfolio .portfolio-content .additional-info {margin:10px 0;padding:10px 0;border-top:1px dotted #dcdfe6;}

#content .posts .post {margin:0 0 15px;padding:0 0 15px;border-bottom:1px dotted #dcdfe6;}
#content .posts .post h2.entry-link {margin:0 0 5px;font-size:20px;font-weight:normal;color:#29abe2;}
#content .posts .post h2.entry-link a {text-decoration:none;}
#content .posts .post h2.entry-link a:hover {text-decoration:underline;}
#content .posts .post .image {margin-right:0;width:200px;height:170px;margin-right:15px;
    background:transparent url(img/blog_post_image.png) no-repeat scroll top center;}
#content .posts .post .image img {margin:3px;}
#content .posts .post .entry-summary {line-height:16px;color:#3e4245;}
#content .posts .post .info {margin:7px 0;padding:3px 0;background:#efefef;color:#808080;font-size:11px;}
#content .posts .post .tags {margin:5px 0;}

#content .search-result {list-style:none;}
#content .search-result li {margin:7px 0;padding:7px 0;border-bottom:1px dotted #dcdfe6;}
#content .search-result li h3 {font-size:15px;margin:0 0 7px;}
#content .search-result p {line-height:18px;}

#content .portfolio_types {margin-top:7px;float:right;list-style:none;}
#content .portfolio_types li {float:left;margin:0 3px;}
#content .portfolio_types li a {display:block;padding:5px 7px;font-size:14px;
    text-decoration:none;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
#content .portfolio_types li a:hover,
#content .portfolio_types li.current-cat a {background:#29abe2;color:#fff;}

.contact-form p {margin:5px 0;}
.contact-form input, .contact-form textarea {padding:6px;border:solid 1px #ccc;outline:0;width:200px;}
.contact-form textarea {width:400px;max-width:350px;height:150px;line-height:150%;font-family:arial;}
.contact-form input:hover, .contact-form textarea:hover,
.contact-form input:focus, .contact-form textarea:focus {border-color:#C9C9C9;}
.contact-form label {margin-left: 10px;color: #999999;}
.contact-form .textarea {margin:7px 0;}
.contact-form .submit input {width:auto;padding:6px 15px;background:#aaa;border:0;font-size:14px;color:#FFFFFF;}
.contact-form input, .contact-form textarea {
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;}
.contact-form .submit {text-align:right;width:385px;}
.contact-form .submit input {-webkit-border-radius: 5px;-moz-border-radius: 5px;}

#slider {margin:0 0 45px;width:940px;height:350px;}
#slideContainer {width:940px;height:350px;margin:0 auto 0;
    background:transparent url(img/bg_slider.png) no-repeat scroll top center;}
#slides {width:940px;height:326px;margin:0 auto;position:relative;z-index:-1;}
#back {width:16px;height:26px;position:absolute;margin:150px 0 0 -30px;font-size:0px;
    background:transparent url(img/slider_arrow_left.png) no-repeat scroll top center;}
#forward {width:16px;height:26px;position:absolute;margin:150px 0 0 955px;font-size:0px;
    background:transparent url(img/slider_arrow_right.png) no-repeat scroll top center;}
#paginator {margin:-3px auto 0;width:100px;height:16px;text-align:center;}
#paginator a {display:block;float:left;margin:0 3px;width:12px;height:12px;font-size:0px;
    background:transparent url(img/dots.png) no-repeat scroll 0 0;}
#paginator a.activeSlide {background-position:-12px 0;}

#sidebar {}
#sidebar .search {margin:0 0 20px;}
#sidebar .search #s {
    font-style:italic;color:#808080;width:193px;padding:7px 10px;
    border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
    border:1px solid #808080;background:#f2f2f2;}
#sidebar .search #searchsubmit {
    background:#f2f2f2 url(img/search_icon.png) no-repeat scroll center center;
    border:#f2f2f2;width:16px;height:16px;position:absolute;margin:10px 0 0 -30px;}

#sidebar-shadow {
    background:transparent url(img/bg_sidebar_center.png) repeat-y scroll top left;
    margin-left:-20px;padding-left:20px;}
#sidebar-shadow .shadow-center {margin-top:-80px;}
#sidebar-shadow .shadow-top, #sidebar-shadow .shadow-bottom {margin-left:-20px;height:100px;}
#sidebar-shadow .shadow-top {
    background:transparent url(img/bg_sidebar_top.png) no-repeat scroll top left;}
#sidebar-shadow .shadow-bottom {height:80px;margin-top:-60px;
    background:transparent url(img/bg_sidebar_bottom.png) no-repeat scroll bottom left;}

.widgets li.widget-container {margin:0 0 20px;}
.widgets h3.widget-title {margin:0 0 7px;padding:0 0 7px;font-size:16px;color:#808080;border-bottom:1px dotted #808080;}

.widget_sub_page_navigation h3.widget-title, 
.widget_recent_entries h3.widget-title, 
.widget_my_categories h3.widget-title {margin:0;}
.widget_sub_page_navigation ul li.page_item, 
.widget_my_categories ul li.cat-item {border-bottom:1px dotted #ddd;}
.widget_sub_page_navigation ul li.page_item a, 
.widget_my_categories ul li.cat-item a {padding:10px 14px;text-decoration:none;font-weight:bold;
    display:block;background:transparent url(img/arrow.png) no-repeat scroll center left;}
.widget_sub_page_navigation ul li.page_item a:hover, 
.widget_sub_page_navigation ul li.current_page_item a, 
.widget_my_categories ul li.current-cat a {color:#808080;}

.widget_recent_entries ul li {border-bottom:1px dotted #ddd;}
.widget_recent_entries ul li a {padding:10px 14px;text-decoration:none;font-style:italic;
    display:block;background:transparent url(img/arrow.png) no-repeat scroll center left;}
.widget_recent_entries ul li a:hover {color:#808080;}

#footer {padding-top:10px;padding-bottom:20px;color:#fff;}

.footer-widgets {margin:10px 0;}
.footer-widgets li {float:left;width:220px;margin:0 10px;}
.footer-widgets li.widget-twitter {margin-left:0;}
.footer-widgets li.widget_text {margin-right:0;}
.footer-widgets h3.widget-title {
    margin:0 0 7px;padding:0 0 7px;font-size:16px;color:#ffffff;
    border-bottom:1px dotted #808080;}

.easy_categories_manage_widget h3.widget-title, .widget_archive h3.widget-title {margin:0;}
.easy_categories_manage_widget ul li, .widget_archive ul li {margin:0;
    background:transparent url(img/arrow.png) no-repeat scroll center left;}
.easy_categories_manage_widget ul li a, .widget_archive ul li a {padding:10px 0;margin:0 0 0 10px;
    color:#fff;text-decoration:none;display:block;border-bottom:1px dotted #808080;}
.easy_categories_manage_widget ul li a:hover, .widget_archive ul li a:hover {color:#bfbfbf;}

.widget-twitter h3.widget-title {background:transparent url(img/twitter_icon.png) no-repeat scroll center right;}
.widget-twitter ul li {font-style:italic;margin:0 0 10px;}
.widget-twitter ul li a {color:#5cd6ff;text-decoration:none;}
.widget-twitter ul li a:hover {text-decoration:underline;}
.widget-twitter ul li a.timesince {display:block;margin:4px 0 0;text-align:right;color:#808080;}

.widget_text p {line-height:18px;margin:0 0 10px;}

#footer .social-media a {float:left;display:block;margin:0 3px;width:30px;height:30px;
    background:transparent url(img/social_networks_sprite.png);}
#footer .social-media .facebook {margin:0 3px 0 0;background-position:0 0;}
#footer .social-media .facebook:hover {background-position:0 30px;}
#footer .social-media .twitter {background-position:-32px 0;}
#footer .social-media .twitter:hover {background-position:-32px 30px;}
#footer .social-media .rss {background-position:-64px 0;}
#footer .social-media .rss:hover {background-position:-64px 30px;}
#footer .social-media .linkedin {background-position:-96px 0;}
#footer .social-media .linkedin:hover {background-position:-96px 30px;}
#footer .social-media .flickr {background-position:-128px 0;}
#footer .social-media .flickr:hover {background-position:-128px 30px;}
#footer .social-media .youtube {background-position:-160px 0;}
#footer .social-media .youtube:hover {background-position:-160px 30px;}

#footer2 {width:100%;color:#fff;margin:0;padding:0;
    background:transparent url(img/bg_bottom2.png) repeat scroll top center;}
#footer2 .content {width:960px;margin:0 auto;padding:0;}
#footer2 .content .copyright {float:left;width:470px;padding:15px 0;font-size:11px;}
#footer2 .content .csscat {float:left;width:470px;padding:10px 0;text-align:right;}

/*Opera Fix*/
body:before { /* thanks to Maleika (Kohoutec)*/
    content: "";height:100%;float: left;width: 0;
    margin-top: -32767px; /* thank you Erik J */
}

.entry-content {font-size:16px;}
/*--- HEADINGS ---*/
.entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {font-size:100%;font-weight:normal;}
.entry-content h2 {font-size:1.5em;margin-bottom:0.5em;line-height:1;}
.entry-content h3 {font-size:1.25em;margin-bottom:0.5em;line-height:1;}
.entry-content h4 {font-size:1.125em;margin-bottom:0.5em;line-height:1;}
.entry-content h5 {font-weight:bold;}
.entry-content h5, .entry-content h6 {font-size:1em;margin-bottom:0.5em;line-height:0.5;}
/*--- PARAGRAPHS ---*/
.entry-content p {margin-bottom:0.5em;font-size:0.9em;}
/*--- LINKS ---*/
.entry-content a {text-decoration:none;font-size:0.9em;}
.entry-content a:visited {opacity:0.8;} /* A bit basic, .entry-content  but it?s a bare minumum... */
.entry-content a:hover {text-decoration:underline;}
.entry-content a:active, .entry-content a:focus {position:relative;top:1px;} /* Give clicked links a depressed effect. */
/*--- LISTS ---*/
.entry-content ul, .entry-content ol {margin:0 0 0.5em 30px;font-size:0.9em;}
.entry-content ul ul, .entry-content ol ol, .entry-content ul ol, .entry-content ol ul {margin:0 0 0 30px;} /* Let?s take care of lists in lists */
.entry-content dl {margin-bottom:0.5em;}
.entry-content dt {font-weight:bold;}
.entry-content dt:after {content:":";}
.entry-content dt::after {content:":";}
.entry-content dd {margin-left:60px;}
.entry-content .keywords {list-style:none;margin:0 0 0.5em;}
.entry-content .keywords li {display:inline;text-transform:lowercase;}
.entry-content .keywords li:first-of-type {text-transform:capitalize;}
.entry-content .keywords li:after {content:", .entry-content  ";}
.entry-content .keywords li::after {content:", .entry-content  ";}
.entry-content .keywords li:last-of-type:after {content:".";}
.entry-content .keywords li:last-of-type::after {content:".";}
/*--- QUOTES ---*/
.entry-content blockquote {text-indent:-0.4em;font-size:0.8em;} /* Hang that punctuation */
.entry-content blockquote b, .entry-content  blockquote .source {display:block;text-indent:0;} /* Mark the source up with either a <b> or another element of your choice with a class of source. */
/*--- GENERAL ---*/
.entry-content q, .entry-content i, .entry-content em, .entry-content cite {font-style:italic;font-weight:inherit;}
.entry-content b, .entry-content strong {font-weight:bold;font-style:inherit;}
.entry-content mark {background:#ffc;}
.entry-content s, .entry-content del {text-decoration:line-through;}
.entry-content small {font-size:0.75em;line-height:1;}
/*--- CODE ---*/
.entry-content pre, .entry-content code {font-family:monospace;font-size:0.9em;}
.entry-content pre {overflow:auto;margin-bottom:0.5em;line-height:24px;} /* Having to define explicit pixel values :( */
.entry-content code {line-height:1;}

#clients {margin:0 0 40px;border-top:1px dotted #808080;border-bottom:1px dotted #808080;}
#clients .client-list {list-style:none;margin:0;width:680px;height:100px;}
#clients .client-list li {float:left;margin:0 18px;width:100px;height:100px;}